<div class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</div>
<div class="poweredby">{{{t "Proudly published with {ghostlink}" ghostlink="<a href=\"https://ghost.org\">Ghost</a>"}}}<br>{{{t "and Paperleaf theme by {nvslbslink}" nvslbslink="<a href=\"https://nvslbs.com\">Novus Labs</a>"}}}</div>
