<div class="sidebar z1 p3 lg-py4 border-box bg-white box-shadow overflow-auto"{{#if @site.cover_image}} style="background-image: url({{@site.cover_image}});"{{/if}}>

    <div class="sidebar-inner js-sidebar-inner lg-mb3">

        {{! The big featured header }}
        <header class="main-header">
            {{#if @site.logo}}
                <a class="blog-logo mt0 hop5" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                {{#is "home"}}
                    <h1 class="page-title h1 mt0"><a class="black" href="{{@site.url}}">{{@site.title}}</a></h1>
                {{else}}
                    <h2 class="page-title h1 mt0"><a class="black" href="{{@site.url}}">{{@site.title}}</a></h2>
                {{/is}}
            {{/if}}
            <h2 class="page-description h3 regular gray mb3">{{@site.description}}</h2>
        </header>
        {{navigation}}

    </div>

    <footer class="sidebar-footer h6 clearfix gray border-box lg-show js-sidebar-footer">
        {{> footer}}
    </footer>

</div>
